<div class="home">
    <h1 class="heading">Active Directory</h1>
    <div class="tiles">
    <div class="tile"><a class={{if (eq @currentRoute "users") "active"}}><LinkTo @route="users">Users</LinkTo></a></div>
    <div class="tile"><a href="#">Computers</a></div>
    <div class="tile"><a href="#">Organizational Unit</a></div>
    <div class="tile"><a href="#">Group</a></div>
    </div>
</div>
